@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@font-face {
  font-family: "Comfortaa", cursive;
  src: url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Oswald");
}

@media only screen and (max-width: 320px) {
  #Home > #Header {
    height: 200px;
  }
  #imgSlider > img {
    height: 100%;
    width: 100%;
  }
  #arrowPrvi,
  #arrowDrugi {
    display: none;
  }
  #Portofolio {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  div[id="About Me"] > #g2 > p {
    display: none;
    opacity: 1;
  }
  #navBar {
    position: fixed;
    height: 10%;
    z-index: 3;
    background-color: black;
  }
  #navBar > ul {
    display: none;
  }
  #navBar li:hover {
    background-color: none;
  }
  #navBar::before {
    content: "Menu";
    color: White;
    font-size: 20px;
    position: relative;
    top: 45%;
    left: 45%;
    font-family: Comfortaa;
  }
  #g1 > ul > li {
    right: 15%;
  }
  #g2 > p {
    font-size: 12px;
    color: white;
    font-family: Oswald;
    opacity: 1;
    font-size: 10px;
    overflow: scroll;
  }
  #Contact {
    width: 320px;
    display: block;
  }
  #Contact form {
    width: 70%;
  }
  #Contact input,
  #Contact textarea {
    width: 100%;
  }
  #Cdetails {
    display: none;
  }
}

/* brown  #795548 
   gray   #607d8b 
   green  #43a047 
*/

#imgSlider {
  position: relative;
  height: inherit;
  width: 100vw;
}
#imgSlider > img {
  position: absolute;
  height: inherit;
}
.arrowsBruh {
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 50px;
  top: 12vw;
}
#arrowPrvi {
  transform: rotate(180deg);
  left: 1%;
}
#arrowDrugi {
  left: 95.5%;
}
#picmenu {
  width: 100%;
  position: absolute;
  top: 90%;
  z-index: 1;
  background-color: initial;
  text-align: center;
}
.buttons {
  border-radius: 20px 20px;
  background-color: white;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  opacity: 0.6;
}
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
}

#navBar {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: -16px;
  position: fixed;
}
#navBar > ul {
  text-align: center;
  background: linear-gradient(to bottom, black, transparent);
}
#navBar > ul > li > a {
  color: White;
  text-decoration: none;
}
#navBar li:hover {
  background-color: black;
  border-radius: 20px 20px;
  transition: background 1s ease 0s;
  cursor: pointer;
}
#navBar li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px 20px;
  color: whitesmoke;
  font-family: Comfortaa;
}
#Portofolio,
div[id="About Me"],
#Contact {
  position: relative;
  background-color: white;
  padding: 0;
  margin: 0;
}
#Header {
  position: relative;
  height: 500px;
}
.progressBar {
  height: 20px;
  width: 45%;
  border-radius: 100px;
  background-color: #43a884;
  border: 3px solid black;
  box-shadow: 1px 3px 10px white;
  margin-top: 20px;
  display: inline-block;
}
.progressBar > div {
  height: inherit;
  background: linear-gradient(to right, black, seagreen);
  width: 0px;
  border-radius: inherit;
}
#Portofolio {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#loremipsum,
#skills {
  width: 50%;
}
#Portofolio p,
#Contact p {
  font-size: 20px;
  font-family: Oswald;
  text-indent: 1%;
}
#Portofolio h3 {
  font-size: 40px;
  font-family: Oswald;
  color: seagreen;
}
div[id="About Me"] > div {
  background-color: darkgrey;
  border: 3px solid black;
}
div[id="About Me"] {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}
#g1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
#g2 {
  grid-column: 2 / span1;
  grid-row: 1 / span 2;
}
div[id="About Me"] > div > ul {
  list-style-type: none;
  font-family: Oswald;
  color: White;
}
div[id="About Me"] > div li {
  position: relative;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
div[id="About Me"] > div li:hover {
  color: black;
  cursor: pointer;
}
#g2 > p {
  color: WHite;
  font-family: Oswald;
  font-size: 15px;
  opacity: 0;
}
#Contact * {
  position: relative;
}
#Contact {
  background-color: #2f3238;
  text-align: center;
  height: 600px;
  width: 100%;
  position: relative;
  display: inline-block;
}
#Contact > h3 {
  top: 30px;
  color: White;
  font-family: Comfortaa;
}
#Contact > h1 {
  text-transform: uppercase;
  font-family: Comfortaa;
  color: White;
  top: 20px;
}
#Cdetails > h3 {
  text-transform: uppercase;
  color: White;
}
address {
  color: white;
}
#Cdetails > p {
  color: #de5e60;
}
#Contact form {
  float: left;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* position: relative;*/
  top: 50px;
  left: 65px;
}
form input {
  width: 70%;
}
form input[type="submit"] {
  width: 20%;
  height: 40px;
}
form input {
  height: 30px;
  background-color: #26292e;
  color: white;
  font-family: Oswald;
  border: 1px solid transparent;
  padding-left: 5px;
  margin-bottom: 1px;
}
textarea {
  background-color: #26292e;
  color: white;
  font-family: oswald;
  padding-left: 5px;
  border-color: transparent;
  width: 69.8%;
}

#Cdetails {
  float: right;
  width: 30%;
  position: relative;
  right: 180px;
  top: 50px;
}

#Footer {
  font-family: Oswald;
  color: White;
  font-size: 20px;
  text-align: center;
  background-color: rgb(13, 58, 23);
  height: 10vh;
}
#Footer > p {
  position: relative;
  top: 30%;
}
